@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <div>
        <label for="Pseudo">Pseudo :</label>
        <input type="text" id="Pseudo" name="Pseudo" required />
    </div>
    <button type="submit">Jouer</button>
</form>