@page
@model MiniCityBuilder.Front.Pages.Map
@{
    ViewData["Title"] = "Map prout";
}

<h1>Coucou @Model.Username</h1>
<div id="gameContainer"></div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.2.4/pixi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.10/signalr.min.js"></script>
    <script src="~/js/map.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/playerHub")
            .build();

        connection.on("PlayerJoined", function (playerId) {
            console.log("PlayerJoined", playerId);
            const playerList = document.getElementById("playerList");
            const playerItem = document.createElement("div");
            playerItem.textContent = `Player ${playerId} joined the game.`;
            playerList.appendChild(playerItem);
        });


        connection.start().catch(err => console.error(err.toString()));
    </script>
}

<div id="playerList"></div>